.upnoteWrap {
  background-color: #ffff;
  min-width: 1400px;
  max-width: 1920px;
  height: 100%;

  .upnoteIneer {
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;

    .notebookNav {
      display: flex;
      flex-direction: row;
      align-items: center;

      .notebookTab {
        font-size: 25px;
      }
      .notebookAdd {
        color: #0078c5;
        border: none;
        font-size: 17px;
        width: 80px;
        height: 50px;
        cursor: pointer;
        background-color: #ffffff;
      }
    }
    .editorWrap {
      width: 50%;

      .memoAdd {
        margin-left: 700px;
        background-color: #0078c5;
        color: #fff;
        padding: 10px;
        border-radius: 10px;
        border: none;
        font-size: 17px;
        font-weight: 700;
        width: 100px;
      }
    }
  }
}
